<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Daily Life</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Style Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />	
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!-- animation-effect -->
<link href="/static/css/animate.min.css" rel="stylesheet"> 
<script src="/static/js/wow.min.js"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
<body>
<div class="header" id="ban">
		<div class="container">
			
			<div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-6" id="link-effect-6">
						<ul class="nav navbar-nav">
							<li class="active act"><a href="/blog/">Home</a></li>
							<li><a href="/blog/about/">About</a></li>
							{% for c in categories %}
							<li role="presentation" class=""><a href="/blog/category/?id={{ c.c_id }}">{{ c.name }}</a>
							</li>
							{% endfor %}
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			</div>	
		</div>
	</div>
	<!--start-main-->
	<div class="header-bottom">
		<div class="container">
			<div class="logo wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
			<h1>   </h1>
				<h1><a href="/blog/">Daily Life</a></h1>
				<p><label class="of"></label>LET'S MAKE A PERFECT STYLE<label class="on"></label></p>

		<div class="clearfix"> </div>
					
				
			</div>
		</div>
	</div>
<!-- banner -->


<div class="services w3l wow fadeInDown"  data-wow-duration=".6s" data-wow-delay=".2s">
		<div class="container">
			<div class="grid_3 grid_5">
				<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
					<ul id="myTab" class="nav nav-tabs" role="tablist">
						{% for c in categories %}
						<li role="presentation" class=""><a href="/blog/category/?id={{ c.c_id }}">{{ c.name }}</a>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>
</div>
			
	<!-- technology-左右留白 -->

	
<div class="technology">
<div class="container">
{% for post in posts %}

	<div class="tech-no">
	<div class="tc-ch wow fadeInDown"  data-wow-duration=".2s" data-wow-delay=".2s">
		{% if post.image %}
    		<div class="gallery-gridAbout">
            <img src='/{{ post.image.url }}/' data-wow-delay=".5s" alt=" " class="img-responsive zoom-img" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;" />        								
			</div>
		{% endif %}
	<div class="wthree">		
	<h3><a href="/blog/view/?id={{ post.p_id }}">{{ post.title }}</a></h3>
	<h6>BY {{ post.author }}</h6>
	<H6>({{ post.published_date }})</H6>
	<p>{{ post.text|slice:"0:100"}}</p>
		<div class="bht1">
			<a href="/blog/view/?id={{ post.p_id }}">繼續瀏覽</a>
		</div>
		<div class="clearfix"></div>
	</div>				
	</div>			
	</div>
{% endfor %}		
<div class="clearfix"></div>
</div>
</div>
<div class="footer">
    <div class="container">
      <div class="col-md-4 footer-left">
        <h4 class="chineseF">創作動機</h4>
        <p class="chineseF">雖然我們三個人的程式能力沒有特別好，想法也沒有特別多，但是我們很喜歡分享可以讓我們感到快樂的事物，並且希望透過這個網站、透過我們的生活，可以讓大家能感受到活力!</p>
        
      </div>
      <div class="col-md-4 footer-middle">
      <h4 class="chineseF">生活風格</h4>
      <div class="mid-btm">
        <img src="/static/images/3.png" width="300"  class="img-responsive" alt="">
      </div>
      
        
    
      </div>
      <div class="col-md-4 footer-right">
        <h4 class="chineseF">永遠同在</h4>
        <p class="chineseF">以此紀念我們曾經的組員---許軍勝</p>
        <img src="/static/images/4.jpg" width="250"  class="img-responsive" alt=""> 
            
              <div class="clearfix"> </div>
          
      </div>
      <div class="clearfix"></div>
    </div>
</div>
	<div class="copyright">
		<div class="container">
			<p>© 2016 Style Blog. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
</body>
</html>